<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexis.androidtutorials">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTutorials">
        <activity android:name=".MyBookListActivity.MyBookListDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MyBookListActivity.AddBookActivity" android:screenOrientation="portrait" />
        <activity android:name=".MyBookListActivity.MyBookListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SQLiteActivity.SQLiteActivity" />
        <activity android:name=".SharedPreferencesActivity.SharedPreferencesActivity" />
        <activity android:name=".NavigationViewActivity.NavigationViewActivity.NavigationViewActivity" />
        <activity android:name=".NavigationViewActivity.BottomNavigationViewActivity.BottomNavigationViewActivity" />
        <activity android:name=".CustomDialogActivity.CustomDialogActivity" />
        <activity android:name=".MenuActivity.ContextMenuActivity" />
        <activity android:name=".MenuActivity.MenuActivity" />
        <activity android:name=".DialogActivity.DialogActivity" />
        <activity android:name=".UseListAndDialogActivity.ProgrammaticActivity" />
        <activity android:name=".UseListAndDialogActivity.LifeCycles.LifeCycles2" />
        <activity android:name=".UseListAndDialogActivity.LifeCycles.LifeCycles" />
        <activity android:name=".UseListAndDialogActivity.RecyclerViewActivity.RecyclerViewActivity" />
        <activity android:name=".UseListAndDialogActivity.CoustomGridViewActivity.CoustomGridViewActivity" />
        <activity android:name=".UseListAndDialogActivity.CoustomGridViewActivity.GridViewActivity" />
        <activity android:name=".UseListAndDialogActivity.CoustomListViewActivity.CoustomListViewActivity" />
        <activity android:name=".UseListAndDialogActivity.UseListActivity" />
        <activity android:name=".UseListAndDialogActivity.ListViewActivity.DetailsActivity" />
        <activity android:name=".UseListAndDialogActivity.ListViewActivity.ListViewActivity" />
        <activity android:name=".NameCityGameActivity.TimeGameActivity" android:screenOrientation="portrait" />
        <activity android:name=".NameCityGameActivity.NormalGameActivity" android:screenOrientation="portrait" />
        <activity android:name=".NameCityGameActivity.NameCityGame" />
        <activity android:name=".CountersActivity.CountersActivity" />
        <activity android:name=".PagesActivity.NewPagesActivity" />
        <activity android:name=".PagesActivity.SwitchPages" />
        <activity android:name=".ButtonAndBarActivity.RandomOperationActivity" />
        <activity android:name=".ButtonAndBarActivity.ButtonAndBarActivity" />
        <activity android:name=".ButtonAndBarActivity.SignUpPage" />
        <activity android:name=".ImageActivity.ImageActivity" />
        <activity android:name=".EstimatingNumbersActivity.EstimatingNumbers" />
        <activity android:name=".CalculateActivity.CalculateActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>